<div class="list_item comment">
	<div class="field first comment_date"><%=h comment.created_at.short_date %></div>
	<div class="field body"><%=h comment.body %></div>
	<div class="links">
		<div class="link edit"><%= link_to edit_image_tag, edit_comment_path(comment) %></div>
		<div class="link destroy"><%= link_to delete_image_tag, comment, :confirm => 'Are you sure?', :method => :delete %></div>
	</div>
</div>
