<div class="list invoices">
	<div class="heading">Listing invoices <%= link_to '+', new_invoice_url %></div>
	<div class="content">
		<%= render :partial => 'list_header' %>
		<%= render :partial => 'invoice', :collection => @invoices %>
	</div>
</div>
