<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>finance.private.dmtprogramming.com</title>
	<%= stylesheet_link_tag 'common' %>
	<%= stylesheet_link_tag 'table' %>
</head>

<body>
	<div id="page_header">dmt programming :: finance</div>
	<div id="main">
		<%= render :partial => "app/navbar" %>
		<div id="content">
		<% if flash[:error] -%>
			<div id="errorMessage" class="message">
				<%=h flash[:error] %>
			</div>
		<% end -%>
		<% if flash[:notice] -%>
			<div id="noticeMessage" class="message">
				<%=h flash[:notice] %>
			</div>
		<% end -%>
			<%= yield :layout %>
		</div>
		<%= render :partial => 'app/content_menu' %>
		<div class="clear"></div>
	</div>
</body>

</html>

