body { background-color: #000; color: #fff; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   16px;
  line-height: 20px;
}

.debug {
	display: none;
	color: #ccf;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #aaa; text-decoration: none; }
a:visited { color: #aaa; }
a:hover { color: #fff; text-decoration: underline; }

.page_header .content {
	font-size: 1.2em;
	text-align: right;
	padding: 5px;
}

.menu {
	width: 100%;
	margin-top: 5px;
	padding: 3px;
	margin-bottom: 5px;
}

.menu .link {
	display: inline-block;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.list .heading {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 5px;
}

.list .content
{
	border: 1px solid #ccc;
}

.list .header {
	background-color: #444;
	padding: 4px;
	font-weight: bold;
}

.list .list_item {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	color: #bbb;
}

.list .list_item:hover {
	color: #fff;
}

.list .field {
	display: inline-block;
	width: 10%;
	text-align: center;
}

.list .field.first {
	text-align: left;
}

.list_item.positive_account .field.balance {
}

.list_item.negative_account .field.balance {
	background-color: #311;
}

.list_item .links {
	display: none;
	width: 20%;
}

.list_item:hover .links {
	display: inline-block;
}

.list_item .links .link {
	display: inline-block;
	text-align: center;
	width: 27%;
}

.list_item .link:hover a {
	text-decoration: none;
}

.list.accounts .field.name,
.list.accounts .field.description {
	width: 15%;
}

.list.accounts .field.user,
.list.accounts .field.description {
	display: none;
}

.list.accounts .field.period {
	width: 10%;
}

.edit_item .heading,
.item_data .heading {
	font-size: 1.2em;
	font-weight: bold;
}

.edit_item .content,
.item_data .content {
	border: 1px solid #ccc;
	padding: 5px;
}

.edit_item .field_name,
.item_data .field_name {
	margin-top: 2px;
	margin-bottom: 2px;
}

.edit_item .field .field_name,
.item_data .field .field_name {
	display: inline-block;
	width: 12%;
	text-align: right;
	margin-right: 5px;
	font-weight: bold;
}

.edit_item .field .field_value,
.item_data .field .field_value {
	display: inline-block;
	width: 30%;
	text-align: left;
	color: #ccc;
}

.edit_item.bank_account .field.period,
.edit_item.bank_account .field.due_date,
.item_data.bank_account .field.period,
.item_data.bank_account .field.due_date {
	display: none;
}

