
<div class="list summary bank_summary">
	<div class="heading">bank summary</div>
	<div class="content">
		<%= render :partial => 'shared/bank_summary_header' %>
		<%= render :partial => 'shared/bank_summary_data' %>
	</div>
</div>
