<% account = bank_summary_data %>
<div class="list_item">
	<div class="field first description">balance</div>
	<div class="field total"><%= account.balance %></div>
	<div class="field allocated">$14.00</div>
	<div class="field unallocated">$28.00</div>
</div>
