<% account = bank_summary_data %>
<div class="list_item">
	<div class="field first description">balance</div>
	<div class="field unallocated"><%= number_to_currency(account.unallocated_balance) %></div>
	<div class="field allocated"><%= number_to_currency(account.allocated_balance) %></div>
	<div class="field total <%= account.real_balance_div_flags.join(" ") %>"><%= number_to_currency(account.real_balance) %></div>
</div>
