
<div class="list summary equity_summary">
	<div class="heading">equity summary</div>
	<div class="content">
		<%= render :partial => 'shared/equity_summary_header' %>
		<%= render :partial => 'shared/equity_summary_data', :object => equity_summary %>
	</div>
</div>
