<div class="header">
	<div class="field first start_time">Start time</div>
	<div class="field end_time">End time</div>
	<div class="field project">Project</div>
	<div class="field rate">Rate</div>
	<div class="field invoice">Invoice</div>
</div>
