<div class="item_data project">
  <% my_custom_fields_for project_data do |f| %>
		<div class="column first">
      <%= f.field :name %>
      <%= f.field :description %>
      <%= f.field :base_rate, { :value => number_to_currency(project_data.base_rate) } %>
      <%= f.field :client, { :value => link_to(project_data.client.name, client_url(project_data.client)) } %>
    </div>
  <% end %>
</div>
