<% title = defined?(title) ? title : 'projects' %>
<div class="list projects">
	<div class="heading"><%= title %> <%= admin_account_group_link_to '+', new_project_url %></div>
	<div class="content">
		<%= render :partial => 'projects/list_header' %>
		<%= render :partial => 'projects/project', :collection => project_list %>
	</div>
</div>

