<div class="item_data account_group">
  <% my_custom_fields_for account_group_data do |f| %>
    <div class="column first">
      <%= f.field :name %>      
      <%= f.field :description %>
    </div>
  <% end %>
</div>
