<div class="header">
	<div class="field project">Project</div>
	<div class="field rate">Rate</div>
	<div class="field description">Description</div>
	<div class="field hours">Hours</div>
	<div class="field subtotal">Subtotal</div>
</div>
