<div class="header">
	<div class="field first trans_date">Date</div>
	<div class="field ref">Ref</div>
	<div class="field description">Description</div>
	<div class="field credit_account">Cr Account</div>
	<div class="field credit_amount">Cr Amount </div>
	<div class="field debit_account">Db Account</div>
	<div class="field debit_amount">Db Amount </div>
</div>

