<div class="header">
	<div class="field first name">Name</div>
	<div class="field project">Project</div>
	<div class="field modifier">Modifier</div>
	<div class="field taxeable">Taxeable?</div>
	<div class="field tax_rate">Tax Rate</div>
</div>
