<div class="header">
	<div class="field color_code">&nbsp;</div>
	<div class="field first name">Name</div>
	<div class="field balance">Balance</div>
	<div class="field due_date">Due date</div>
	<div class="field amount">Amount</div>
	<div class="field period_amount"><%= @period.name.titleize %></div>
</div>
