<div class="list transactions">
	<div class="heading">transactions <%= link_to '+', new_transaction_url %></div>
	<div class="content">

		<%= render :partial => 'accounts/list_header' %>
		<%= render :partial => 'accounts/transaction', :collection => transaction_list %>

	</div>
</div>

