<div class="list accounts">
	<div class="heading">Listing accounts <%= link_to '+', new_account_url %></div>
	<div class="content">
		<%= render :partial => 'list_header' %>
		<%= render :partial => 'account', :collection => @accounts %>
	</div>
</div>

<div class="list summary accounts">
	<div class="content">
		<%= render :partial => 'summary' %>
	</div>
</div>

