<div class="list accounts">
	<div class="heading">Listing accounts</div>
	<div class="content">
		<%= render :partial => 'list_header' %>
		<%= render :partial => 'account', :collection => @accounts %>
	</div>
</div>

<br />

<%= link_to 'New account', new_account_path %>
